<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件绑定</title>
</head>
<body>

<div id="app">
    <input type="checkbox" v-model="toggle" :false-value="a" :true-value="b">
    <input type="radio" v-model="pick" :value="c">
    <select v-model="selected">
        <option :value="{number: 123}">1</option>
    </select>
    <input type="text" v-model.lazy="name" placeholder="姓名">
    <input type="number" v-model.number="age" placeholder="年龄">
    <textarea v-model.trim="desc" cols="30" rows="10"></textarea>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            toggle: '',
            a: '对',
            b: '错',
            c: '选中了',
            name: '',
            age: 0,
            desc: ''
        }
    })
</script>
</body>
</html>