<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
</head>
<body>

<div id="app">
    <template v-if="ok">
        <h1>title</h1>
        <p>paragraph 1</p>
        <p>paragraph 2</p>
    </template>
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>

    <!-- 用 key 管理可复用的元素 -->
    <!-- 例1：这里的元素没有使用 key 关键字，所以 <label> 和 <input> 都会被复用 -->
    <template v-if="loginType === 'username'">
        <label>UserName</label>
        <input type="text" placeholder="Enter your username">
    </template>
    <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your email address">
    </template>
    <!-- 例2：这里的元素使用了 key 关键字，所以 <input> 不会被复用，但是 <label> 仍然被复用 -->
    <template v-if="loginType === 'username'">
        <label>UserName</label>
        <input type="text" placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your email address" key="email-input">
    </template>
    <button @click.stop.prevent="toggleLoginType">切换一下登录方式</button>

    <!-- v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级 后续介绍`列表渲染`时会有例子 -->
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>

    new Vue({
        data: {
            ok: true,
            type: 'A',
            loginType: 'username'
        },
        methods: {
            toggleLoginType: function (event) {
                this.loginType = this.loginType === 'username' ? 'email' : 'username';
            }
        }
    })

</script>
</body>
</html>