<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
        <li v-for="(item, index) of items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
        <!-- 在遍历对象时，是按`Object.keys()`的结果遍历，但是不能保证它的结果在不同的JavaScript引擎下是一致的 -->
        <li v-for="value in object">
            {{ value }}
        </li>
        <li v-for="(value, key) in object">
            {{ key }} : {{ value }}
        </li>
    </ul>
    <div>
        <span v-for="n in 10">{{ n }}</span>
    </div>

    <ul>
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo.value }}
        </li>
    </ul>

    <!-- 变异方法：这些方法会触发视图更新 -->
    <!-- 变异方法会改变原始数组 -->
    <ul>
        <li>push()</li>
        <li>pop()</li>
        <li>shift()</li>
        <li>unshift()</li>
        <li>splice()</li>
        <li>sort()</li>
        <li>reverse()</li>
    </ul>

    <!-- 重塑方法：不会触发视图更新 -->
    <!-- 重塑方法会产生一个新的数组 -->
    <ul>
        <li>filter()</li>
        <li>concat()</li>
        <li>slice()</li>
    </ul>

    <ul>
        <li v-for="n in evenNumbers">{{ n }}</li>
    </ul>

    <ul>
        <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            parentMessage: 'parent',
            items: [
                {message: 'foo'},
                {message: 'bar'}
            ],
            object: {
                firstName: 'Christiano',
                lastName: 'Ronaldo',
                age: 32
            },
            todos: [
                {
                    value: '1111',
                    isComplete: false
                },
                {
                    value: '2222',
                    isComplete: true
                },
                {
                    value: '3333',
                    isComplete: false
                }
            ],
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0;
                })
            }
        },
        methods: {
            even: function (numbers) {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0;
                })
            }
        }
    })
</script>
</body>
</html>