@tailwind base;
@tailwind components;
@tailwind utilities;

.after-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
}
